<!DOCTYPE html>
<html>

<head>

<title>IPL Auction Dashboard</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<header>

<h1>🏏 IPL Auction Dashboard</h1>

<a href="/logout" class="logout">Logout</a>

</header>

<div class="filters">

<a href="/dashboard">All Players</a>
<a href="/dashboard?country=India">Indian Players</a>
<a href="/dashboard?country=England">England</a>
<a href="/dashboard?country=Afghanistan">Afghanistan</a>

</div>

<div class="grid">

{% for p in players %}

<a href="/player/{{p[0]}}" class="card">

<h2>{{p[1]}}</h2>

<p><strong>Country:</strong> {{p[2]}}</p>

<p><strong>Role:</strong> {{p[3]}}</p>

<p>Runs: {{p[4]}}</p>

<p>Wickets: {{p[5]}}</p>

<h3>₹ {{p[7]}}</h3>

</a>

{% endfor %}

</div>

</body>

</html>
